*{
    margin: 0;
    box-sizing: border-box;
  
}

body{
   /* top,right, bottom ,left */
  /* margin: 200px 30px 200px 10px; */
  margin: 30px 20px;  /* üst-alt 30px, sağ-sol 200px*/
  text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
font-weight: 700;
font-size: 20px;

}
.header{
    color: white;
background-color: red;
height: 50px;
padding: 20px;

}
.nav{
    padding: 10px;
    background-color: blue;


}

.aside{
   background-color: yellow;
   float: left;
   width: 25%;
   height: 300px;

}
.main{
    background-color: antiquewhite;
    width: 75%;
    float: left;
    height: 300px;

}
.footer{
    background-color: grey;

}